SNMP info

When test snmp on Cisco 2960, get error

get_vlan_table
Fetches VLAN table
10.11.11.XX: Invalid object identifier: CISCO-VTP-MIB::vtpVlanName.1
get_mac_table
Fetches MAC address table
10.80.99.50: Invalid object identifier: CISCO-VTP-MIB::vtpVlanName.1


I have the same issue.
[v1.22] rev22


Hi,

I also have this type of error for every queries on Cisco devices 4510 and 4500X.

Do you have any idea what should be done to resolve this issue ?

Thanks a lot for this project!


I found resolve for this problem. You must install SNMP MIB. "CISCO-VTP-MIB" and all other.
I found this MIB if some body need this you can write me aailubaev@gmail.com


хай, в почту пишу, а тишина


Thanks  directum, for pointing us in the right direction, I followed below to get the cisco mibs working
http://x123.net/howto-cisco-mibs-ubuntu.html

Then in /etc/snmp/snmp.conf

added

---

mibdirs /var/lib/mibs/cisco
mibdirs -/usr/share/mibs/ietf
mibdirs -/usr/share/mibs/iana
mibdirs -/usr/share/snmp/mibs

---

To test run  snmpwalk -v2c -c <snmp-string> <host> CISCO-VTP-MIB::vtpVlanName

---

Then reboot, fixes snmp error, but vlans to not get populated into database correctly, seems the php function is missing a filter or something?

Anyone else having this issue?


Perfect! Works like a charm.

On my side I am able to add the discoverd VLAN correctly.

Thanks a lot your help.

[image: Trace TV LOGO]
_TV_ _Jérémy DUPEU_ 73, rue Henri Barbusse
_RADIO_ - 92110 Clichy - France
_MOBILE_ _Responsable Technique et Développement_ -
_MAGAZINE_ _Technical & Development Manager_ _www.trace.tv
http://www.trace.tv *[image: Facebook LOGO] [image: Twitter LOGO] [image:
Instagram LOGO]   https://fr-fr.facebook.com/tracetelevision
https://twitter.com/TRACE_Urban
*WEB_ - -
_EVENTS_ Tel : +33 (0) 1 77 68 05 20
_STUDIO_ E-mail: jdupeu@trace.tv Fax : +33 (0) 1 77 68 05 21

2016-11-03 10:51 GMT+01:00 eric9309 notifications@github.com:

> Thanks directum, for pointing us in the right direction, I followed below
> to get the cisco mibs working
> http://x123.net/howto-cisco-mibs-ubuntu.html
> 
> Then in /etc/snmp/snmp.conf
> 
> ## added
> 
> mibdirs /var/lib/mibs/cisco
> mibdirs -/usr/share/mibs/ietf
> mibdirs -/usr/share/mibs/iana
> 
> ## mibdirs -/usr/share/snmp/mibs
> 
> ## To test run snmpwalk -v2c -c CISCO-VTP-MIB::vtpVlanName
> 
> Then reboot, fixes snmp error, but vlans to not get populated into
> database correctly, seems the php function is missing a filter or something?
> 
> Anyone else having this issue?
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> https://github.com/phpipam/phpipam/issues/600#issuecomment-258100203,
> or mute the thread
> https://github.com/notifications/unsubscribe-auth/AUG1i9hXa_CicH0IYXcNkI_ahzjmNGEzks5q6a6tgaJpZM4JIh6S
> .


Hi  Jdupeu, what model of switch did you use?

I could not get the vlan data to add correctly on the cisco 3750g


Hey,

I'm using Cisco 2960x, 4510 and 4500x.

I didn't test the 2960x for now, but the other ones works fine.

Regards

[image: Trace TV LOGO]
_TV_ _Jérémy DUPEU_ 73, rue Henri Barbusse
_RADIO_ - 92110 Clichy - France
_MOBILE_ _Responsable Technique et Développement_ -
_MAGAZINE_ _Technical & Development Manager_ _www.trace.tv
http://www.trace.tv *[image: Facebook LOGO] [image: Twitter LOGO] [image:
Instagram LOGO]   https://fr-fr.facebook.com/tracetelevision
https://twitter.com/TRACE_Urban
*WEB_ - -
_EVENTS_ Tel : +33 (0) 1 77 68 05 20
_STUDIO_ E-mail: jdupeu@trace.tv Fax : +33 (0) 1 77 68 05 21

2016-11-04 11:08 GMT+01:00 eric9309 notifications@github.com:

> Hi Jdupeu, what model of switch did you use?
> 
> I could not get the vlan data to add correctly on the cisco 3750g
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> https://github.com/phpipam/phpipam/issues/600#issuecomment-258389442,
> or mute the thread
> https://github.com/notifications/unsubscribe-auth/AUG1ixZVJzUReCiZEsmoSfYxV9u5qGu0ks5q6wQJgaJpZM4JIh6S
> .


ok, I get 
.1.3.6.1.4.1.9.9.46.1.3.1.1.4.1.1   (vlan 1)
.1.3.6.1.4.1.9.9.46.1.3.1.1.4.1.10  (vlan 10)
As the number scanning vlans, when these are added there all number 1, the name and description shows the vlan name.

 Jdupeu, would be interested to see if your 2960x works


Hi, I also have the "Invalid Object Identifier" when trying to get snmp infos from Cisco c6500 switch. I tried to add the Cisco MIBs in /usr/share/snmp/mibs/ but that did not work.
I found an archive of x123 website but this does not help as it uses mibs-downloader which is not available on Centos7.
Am I missing something in my config?

Hi  sebecam2000, I've not tried in Centos & not looked at this for nearly a year now, I assume there is a mibs libary for centos that you would need.
Do you have the mibs dir listed in snmpd.conf ? (I'm not 100% sure where you tell centos about the mib dirs, but assume it will be here), maybe someone on the Centos forum could help?

Most of my builds now are on Centos 7, but I've not tried phpipam.  Hope you find a fix.



Here is part of the solution:
- download the MIBs using the Cisco IOS MIB Locator (I searched using the image name of my switch):
http://mibs.cloudapps.cisco.com/ITDIT/MIBS/MainServlet
- download "all V2" MIBs (top links) and untar the .my files in /usr/share/snmp/mibs
- rename CISCO-VTP-MIB.my in CISCO-VTP-MIB.txt
- reboot (could not find which service to restart)
Everything works except the VRF fetching

Apparently, vrf fetching needs MPLS-VPN-MIB::mplsVpnVrfDescription but when I rename MPLS-VPN-MIB.my with a .txt extension, I get "invalid object identifier" for get_mac_table get_vlan_table and get_vrf_table .
I don't have the knowledge to explore the content of the MPLS-VPN-MIB file (attached here), so if someone can give me some clues on how to debug it, he is welcome!
[MPLS-VPN-MIB.txt](https://github.com/phpipam/phpipam/files/1397467/MPLS-VPN-MIB.txt)



Using PhpIPAM v1.3 (On Redhat linux server)

When test snmp on Cisco 2811, 2960, 3750, 4506, 6509 & 7710 after Installing CISCO-VTP-MIB, get error

get_mac_table
Fetches MAC address table
S-3750: Invalid object identifier: CISCO-VTP-MIB::vtpVlanName.1

get_vlan_table
Fetches VLAN table
S-3750: Invalid object identifier: CISCO-VTP-MIB::vtpVlanName.1

get_vrf_table
Fetches VRF table
S-3750: Invalid object identifier: MPLS-VPN-MIB::mplsVpnVrfDescription

Kindly help to resolve this issue.

@sachin30dec 
What happens when you run those queries on the commandline?

Something like:
snmpwalk -c $community -v $version $host CISCO-VTP-MIB::vtpVlanName.1 

@steschuser 
Thanks for response.
When i execute the query "snmpwalk -c $community -v $version $host CISCO-VTP-MIB::vtpVlanName.1", I get vlans information.


**TL;DR:** Phpipam uses the mibs described in functions/classes/class.SNMP.php, you need to load all that MIB's and it's dependencies, on debian inside a docker container I got everyting to work with the following commands:

Install snmp-mibs-downloader that get all the ietf/iana mibs:
`echo "deb http://ftp.br.debian.org/debian/ wheezy main contrib non-free" > /etc/apt/sources.list`
`apt-get update`
`apt-get install -y snmp-mibs-downloader`

Donwload enterprise cisco packages and it's dependencies that phpipam uses:
- ftp://ftp.cisco.com/pub/mibs/v2/CISCO-SMI.my
- ftp://ftp.cisco.com/pub/mibs/v2/CISCO-TC.my
- ftp://ftp.cisco.com/pub/mibs/v2/CISCO-VTP-MIB.my
- ftp://ftp.cisco.com/pub/mibs/v2/MPLS-VPN-MIB.my

@steschuser  They just like an SQL query, they ask the $host for data and return the results. But the MIB name acts like an DNS, its search for MIB data and convert it for the OID (Numerical representation) of it before the query.

@sachin30dec You need the MIB's and it's dependencies, CISCO-VTP for example needs the following MIB dependencies: SNMPv2-SMI, SNMPv2-TC, SNMPv2-CONF, SNMPv2-MIB, CISCO-SMI, IANAifType-MIB, IF-MIB, CISCO-TC, INET-ADDRESS-MIB, SNMP-FRAMEWORK-MIB, RFC1155-SM, RFC-1212, RFC-1215, SNMPv2-TC-v1, RMON-MIB.

@isaqueprofeta As mentioned above, installed the MIB's and it's dependencies but still getting the same error.
get_mac_table
Fetches MAC address table
S-3750: Invalid object identifier: CISCO-VTP-MIB::vtpVlanName.1

get_vlan_table
Fetches VLAN table
S-3750: Invalid object identifier: CISCO-VTP-MIB::vtpVlanName.1

get_vrf_table
Fetches VRF table
S-3750: Invalid object identifier: MPLS-VPN-MIB::mplsVpnVrfDescription

@sachin30dec try installing the full set of mibs from Iana and ietf with snmp-mibs-downloader

I got it working on my local server and repeated all installation for the docker image project, if you wanna try, look at https://github.com/pierrecdn/phpipam

This solution works for me, edit /var/www/html/phpipam/functions/classes/class.SNMP.php and hardcode the OID. This way it shouldn't dependent to Cisco device only, at least for now.

```php
// get vlans
$this->snmp_queries['get_vlan_table'] = new StdClass();
$this->snmp_queries['get_vlan_table']->id  = 6;
$this->snmp_queries['get_vlan_table']->oid_num = ".1.3.6.1.4.1.9.9.46.1.3.1.1.4";
$this->snmp_queries['get_vlan_table']->oid = ".1.3.6.1.4.1.9.9.46.1.3.1.1.4";
//$this->snmp_queries['get_vlan_table']->oid = "CISCO-VTP-MIB::vtpVlanName";
$this->snmp_queries['get_vlan_table']->description = "Fetches VLAN table";
```

@subkhanave: Thanks for the solution, It is working.
 if we have devices from different vendor, Can we hard code multiple oid's for fetching vlan and routing information? Like as mentioned above.

@sachin30dec 
yes, you need to edit on the correct section

@subkhanave 
Hi,
I have devices from different vendors, each have different OID for fetching routing information & Vlan information. Could you please tell me how do i hardcode multiple oid for fetching same information?
Do I add all oid's (used for fetching same information) in its respective section? or create separate section for each? 


i my case (ubuntu,apache2,phpipam1.3), the problem was the env variables, and paths  i dont know why, but,  the root env, the usrs, env, snmpwalk, and php, was diferent.   i resolve the issue with

1) doing snmp walk without fail in dependencies
snmpwalk -c $community -v $version $host CISCO-VTP-MIB::vtpVlanName.1  (at begining of this command output you can see the configured path for mibs) this is my path for snmpwalk /usr/local/share/snmp/mibs/

2) copy CISCO-VTP-MIB and its dependecies to /var/lib/mibs/ietf/ , in my installation 1.3.0 this is the path that php-snmp uses to mibs

note that there are diferent paths for diferents context, and users, an applications, you have to replicate all MIB you want in every path needed,

restart apache2 will load the new mib

in my case;  

/var/lib/mibs/ietf/
export MIBDIRS=/usr/local/share/snmp/mibs/
/usr/share/snmp/mibs
$HOME/.snmp/mibs


everything snmp to Cisco, works OK

the other brands need to find the correct oid that responds at the same parameters as expect with cisco oid, to the correct decode in phpipam,  you need to browse in the mibs of yout brand, and the class.SNMP.php to give the correct oid that returns the same info, and variables that the coded in repository, you can change  if you want.




> .1.3.6.1.4.1.9.9.46.1.3.1.1.4



> This solution works for me, edit /var/www/html/phpipam/functions/classes/class.SNMP.php and hardcode the OID. This way it shouldn't dependent to Cisco device only, at least for now.
> 
> ```
> // get vlans
> $this->snmp_queries['get_vlan_table'] = new StdClass();
> $this->snmp_queries['get_vlan_table']->id  = 6;
> $this->snmp_queries['get_vlan_table']->oid_num = ".1.3.6.1.4.1.9.9.46.1.3.1.1.4";
> $this->snmp_queries['get_vlan_table']->oid = ".1.3.6.1.4.1.9.9.46.1.3.1.1.4";
> //$this->snmp_queries['get_vlan_table']->oid = "CISCO-VTP-MIB::vtpVlanName";
> $this->snmp_queries['get_vlan_table']->description = "Fetches VLAN table";
> ```

Hi subkhanave, It worked for me, I have been abble to hard code MY HP OID, but how can we do if I have a multi vendor environement, with Cisco and HP switches?

For those who use phpipam with HP switches, here is the MIB for having the mac table:
.1.3.6.1.2.1.4.22.1.2

So I modified class.SNMP.php like this:

        // get vlans
        $this->snmp_queries['get_vlan_table'] = new StdClass();
        $this->snmp_queries['get_vlan_table']->id  = 6;
        $this->snmp_queries['get_vlan_table']->oid_num = ".1.3.6.1.2.1.4.22.1.2";
        $this->snmp_queries['get_vlan_table']->oid = ".1.3.6.1.2.1.4.22.1.2";
        //$this->snmp_queries['get_vlan_table']->oid = "CISCO-VTP-MIB::vtpVlanName";
        $this->snmp_queries['get_vlan_table']->description = "Fetches VLAN table

If I do a snmpwalk with this OID, I got all the arp table, but if I test from the GUI, i have this error:

Error in packet at '.1.3.6.1.2.1.4.22.1.2.1': No Such Instance currently exists at this OID

I guess it is because of the script that is written for cisco:

 /**
     * Fetch vlan table from device.
     *
     * @access private
     * @return void
     */
    private function get_vlan_table () {
        // init
        $this->connection_open ();
        // fetch
        try {
            $res1 = $this->snmp_session->walk( $this->snmp_queries["get_vlan_table"]->oid.".1" );
                }
                catch (Exception $e) {
                throw new Exception ("<strong>$device->hostname</strong>: ".$e->getMessage(). "<br> oid: ".$this->snmp_queries["get_vlan_table"]->oid);
                }

        // check for errors
        $this->connection_error_check ();

        // parse result
        foreach ($res1 as $k=>$r) {
            // set number
            $k = str_replace($this->snmp_queries["get_vlan_table"]->oid.".1.", "", $k);
            $k = array_pop(explode(".", $k));
            // set value
            $r  = trim(str_replace("\"","",substr($r, strpos($r, ":")+2)));
            $res[$k] = $r;
        }

        // save result
        $this->save_last_result ($res);

        // return response
        return isset($res) ? $res : false;
    }

The problem I think is that the output of the query to an HP switch is different than the same query to a cisco switch, so I guess that the PHP script has to be re-writen, because we cant deduce the vlan ID from the value at the end of the OID, I don't even now how to correlate these values with the vlan ID

IP-MIB::ipNetToMediaNetAddress.31678.
IP-MIB::ipNetToMediaNetAddress.31692.
IP-MIB::ipNetToMediaNetAddress.31693.
IP-MIB::ipNetToMediaNetAddress.31704.
IP-MIB::ipNetToMediaNetAddress.31705.
IP-MIB::ipNetToMediaNetAddress.31710.

Any one have an idea?

I can do a full snmp walk of my devices, but not all of the mibs work in phpipam, even the ones that do does not populate anything for my devices i.e. though tests may run successfully no data is imported, I am using version 1.3.2.

Original reported issue closed via 2da5875ae64b3d1f026fa1b78b22c04d686d7f2c
See #2365 SNMP support for multiple vendors for remaining issues.

Hi Gary,

When will version 1.4 be out? I have started building out version 1.3.2 but stopped because I cannot get the SNMP to work, this is a big deal, see how many threads and users you have working on it.... for now I have moved to Digital Ocean's Netbox as it is the only product that comes near to phpipam BUT I still want to use phpipam.

Hello @Gregged 

Miha manages the releases and schedule.

I am on a network with thousands of hosts, just asking advice whether it is more efficient to use ping, fping or pear ping when scanning entire network.
It would be good to let us know of upcoming releases since people look forward to bugfixes etc. and phpipam is a great product.

fping is more efficent. 

I agree. I prefer phpipam to Netbox so I'm running 1.4 in my development path. 
I'm live with 1.3.2 but need the SNMP to provision correctly, otherwise can't integrate. It would be great to get some ideas on the schedule as I'd love to plan some app dev around it. best. 

 If they can just fix the SNMP this product will be ready for production enterprise environment - then later they can look at products like gestioip and netbox --- which I believe are lesser products but are efficient in the features that they have; even if you have a great product, just take a look at what is out there --- netbox has great DCIM, gestioip perhaps is the best quick and dirty IPAM out there that just works and is great in pulling in prefixes from routing table and summarizing networks hierarchically.

    On Friday, 29 March 2019, 18:00:10 GMT-5, Mark Worth <notifications@github.com> wrote:  
 
 
I agree. I prefer phpipam to Netbox so I'm running 1.4 in my development path.
I'm live with 1.3.2 but need the SNMP to provision correctly, otherwise can't integrate. It would be great to get some ideas on the schedule as I'd love to plan some app dev around it. best.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.
   

Thanks for the info on gestioip. I've put that it my loop and will be looking to evaluate its network monitoring aspects. I also have a very large network to handle with a lot of different devices to manage. I still like the presentation and outline of phpIPAM, its well written. Maybe we can get all the features in one package........

 No probs, my network is a few countries with several hundred prefixes, gestioip handles fine without any hiccups BUT is not as feature rich/customizable as phpipam, like I said its a quick and dirty solution with very aggressive discovery features.As soon as scanning/network discovery is fixed in phpipam I will make it my main tool, the devs have done a great job so far, I really like it.
    On Monday, 1 April 2019, 18:40:19 GMT-5, Mark Worth <notifications@github.com> wrote:  
 
 
Thanks for the info on gestioip. I've put that it my loop and will be looking to evaluate its network monitoring aspects. I also have a very large network to handle with a lot of different devices to manage. I still like the presentation and outline of phpIPAM, its well written. Maybe we can get all the features in one package........

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.
   

Yep, I'm a huge fan of phpIPAM and I'm looking hard at the code. It's very well organized and put together. I keep a v1.4 running in a virtualbox and push changes to it weekly. We just need to get enough of us up the curve and in here to help out. 

When 1.4 will be released ? 

I'm currently using version 1.4, but it still can't get the MAC address, which uses a plan to delay the official use of the release.

Hi dickyangyi

I am not sure if this can help you:
Bugfix: Scan subnet: Invalid scan type (scan-snmp-mac) Pt2 https://github.com/phpipam/phpipam/commit/8db8af8d760827d69fb869d63d36acf2047c8449
